.page_content{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px 50px;
}

.page_content h2{
    color: purple;
}

.page_content h3{
    color: purple;
    margin-top: 15px;
}

.project_desc{
    margin-top: 10px;
    margin-bottom: 10px;
}

.project_list{
    margin-top: 15px;
    display: flex;

    flex: 1;
}

.task_table_header{
    width: 100%;
    background-color: purple;
    justify-content: center;
    color: white;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.task_table_item{
    width: 100%;
    background-color: rgb(234, 184, 234);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 15px 30px;
}

.assign_button{
    background-color: white;
    border: 1px solid white;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
    transition: 0.3s;
}

.assign_button:hover{
    background-color: violet;
    border: 1px solid violet;
    color: white;
}

.dev_table_item{
    background-color: rgb(234, 184, 234);
    padding: 15px;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
}

.devId{
    font-size: 12px;
}

.devs_table_header{
    width: 100%;
    background-color: purple;
    color: white;
    height: 50px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects{
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    margin-right: 10px;
}

.button_task{
    background-color: purple;
    padding: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid purple;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.button_task:hover{
    background-color: white;
    color: purple;
}

.devs{
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
}

.no_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no_project_button{
    background-color: purple;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.no_project_button:hover{
    background-color: rgb(179, 45, 179);
    border: 1px solid rgb(179, 45, 179);
}

.card{
    display: flex;
    margin-left: 10px;
}

.card_box{
    background-color: purple;
    width: 300px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    color: white;
    justify-content: center;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid rgb(219, 194, 219);
    cursor: pointer;
    transition: 0.3s;
}

.card_box:hover{
    scale: 1.02;
    background-color: rgb(165, 0, 165);
}

.edit_button{
    background-color: purple;
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    font-size: 25px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-left: -30px;
    margin-top: -20px;
    transition: 0.3s;
    cursor: pointer;
    z-index: 2;
}

.edit_button:hover{
    scale: 1.1;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.523);
}
