.page_content{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 20px 50px;
}

.page_content h2{
    color: purple;
}

.page_content h3{
    color: purple;
    margin-top: 15px;
}

.project_list{
    margin-top: 30px;
    flex: 1;
}

.no_projects{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.no_project_button{
    background-color: purple;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid purple;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.no_project_button:hover{
    background-color: rgb(179, 45, 179);
    border: 1px solid rgb(179, 45, 179);
}
